<ul class="menu">
  <li>Blogão 20191</li>
  <li><%= link_to 'Homepage', root_path %></li>
  <li><%= link_to 'Posts', posts_path %></li>
  <li><%= link_to 'Authors', authors_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
</ul>